<!DOCTYPE html>
<html>
<head>
    <title>Editar Mascota</title>
</head>
<body>
    <h1>Editar Mascota</h1>
    <form method="POST" enctype="multipart/form-data">
        Nombre: <input type="text" name="nombre" value="{{ mascota.nombre }}" required><br>
        Edad: <input type="number" name="edad" value="{{ mascota.edad }}" required><br>
        Sexo: 
        <select name="sexo" required>
            <option value="Macho" {% if mascota.sexo == 'Macho' %}selected{% endif %}>Macho</option>
            <option value="Hembra" {% if mascota.sexo == 'Hembra' %}selected{% endif %}>Hembra</option>
        </select><br>
        Estado de Salud: <input type="text" name="salud" value="{{ mascota.salud }}" required><br>
        Comportamiento: <input type="text" name="comportamiento" value="{{ mascota.comportamiento }}" required><br>
        Características: <input type="text" name="caracteristicas" value="{{ mascota.caracteristicas }}" required><br>
        Color: <input type="text" name="color" value="{{ mascota.color }}" required><br>
        Raza: <input type="text" name="raza" value="{{ mascota.raza }}" required><br>

        <!-- la nueva imagen -->
        <label for="imagen">Subir Nueva Imagen:</label>
        <input type="file" name="imagen" id="imagen"><br>

        <input type="submit" value="Actualizar">
    </form>
    <a href="{{ url_for('index') }}">Volver a la lista</a>
</body>
</html>