<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Lista de Mascotas</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      color: #566787;
      background: #f5f5f5;
      font-family: 'Varela Round', sans-serif;
      font-size: 13px;
    }
    .table-responsive {
      margin: 30px 0;
    }
    .table-wrapper {
      background: #fff;
      padding: 20px 25px;
      border-radius: 3px;
      min-width: 1000px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {        
      padding-bottom: 15px;
      background: #435d7d;
      color: #fff;
      padding: 16px 30px;
      min-width: 100%;
      margin: -20px -25px 10px;
      border-radius: 3px 3px 0 0;
    }
    .table-title h2 {
      margin: 5px 0 0;
      font-size: 24px;
    }
    .table-title .btn-group {
      float: right;
    }
    .table-title .btn {
      color: #fff;
      float: right;
      font-size: 13px;
      border: none;
      min-width: 50px;
      border-radius: 2px;
      margin-left: 10px;
    }
    table.table tr th, table.table tr td {
      border-color: #e9e9e9;
      padding: 12px 15px;
      vertical-align: middle;
    }
    table.table-striped tbody tr:nth-of-type(odd) {
      background-color: #fcfcfc;
    }
    table.table-striped.table-hover tbody tr:hover {
      background: #f5f5f5;
    }
    table.table td a {
      font-weight: bold;
      color: #566787;
      display: inline-block;
      text-decoration: none;
    }
    table.table td a:hover {
      color: #2196F3;
    }
    table.table td a.edit {
      color: #FFC107;
    }
    table.table td a.delete {
      color: #F44336;
    }
    table.table td i {
      font-size: 19px;
    }
  </style>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();

      // Pre-cargar datos en el modal de edición
      $('#editMascotaModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          var id = button.data('id');
          var nombre = button.data('nombre');
          var edad = button.data('edad');
          var sexo = button.data('sexo');
          var salud = button.data('salud');
          var comportamiento = button.data('comportamiento');
          var caracteristicas = button.data('caracteristicas');
          var color = button.data('color');
          var raza = button.data('raza');

          var modal = $(this);
          modal.find('form').attr('action', '/editar/' + id);
          modal.find('input[name="nombre"]').val(nombre);
          modal.find('input[name="edad"]').val(edad);
          modal.find('select[name="sexo"]').val(sexo);
          modal.find('input[name="salud"]').val(salud);
          modal.find('input[name="comportamiento"]').val(comportamiento);
          modal.find('input[name="caracteristicas"]').val(caracteristicas);
          modal.find('input[name="color"]').val(color);
          modal.find('input[name="raza"]').val(raza);
      });

      // Configurar el modal de eliminación
      $('#deleteMascotaModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          var id = button.data('id');
          var modal = $(this);
          modal.find('form').attr('action', '/eliminar/' + id);
      });
    });
  </script>
</head>
<body>
    {% include 'navbar.html' %}
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Lista de <b>Mascotas</b></h2>
            </div>
            <div class="col-sm-6">
                <a href="#" class="btn btn-success" data-toggle="modal" data-target="#addMascotaModal">
                <i class="material-icons">&#xE147;</i> <span>Agregar nueva mascota</span>
              </a>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Edad</th>
              <th>Sexo</th>
              <th>Estado de Salud</th>
              <th>Comportamiento</th>
              <th>Características</th>
              <th>Color</th>
              <th>Raza</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for mascota in mascotas %}
            <tr>
              <td>{{ mascota['nombre'] }}</td>
              <td>{{ mascota['edad'] }}</td>
              <td>{{ mascota['sexo'] }}</td>
              <td>{{ mascota['salud'] }}</td>
              <td>{{ mascota['comportamiento'] }}</td>
              <td>{{ mascota['caracteristicas'] }}</td>
              <td>{{ mascota['color'] }}</td>
              <td>{{ mascota['raza'] }}</td>
              <td>
                <a href="#" class="edit" data-toggle="modal" data-target="#editMascotaModal" data-id="{{ mascota['_id'] }}">
                  <i class="material-icons">&#xE254;</i>
                </a>
                <a href="#" class="delete" data-toggle="modal" data-target="#deleteMascotaModal" data-id="{{ mascota['_id'] }}">
                  <i class="material-icons">&#xE872;</i>
                </a>
                <a href="{{ url_for('detalles_mascota', id=mascota['_id']) }}" class="details" data-toggle="tooltip" title="Detalles">
                  <i class="material-icons">info</i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- Aquí podrías agregar paginación si lo requieres -->
      </div>
    </div>
  </div>

   <!-- Create Modal HTML -->
   <div id="addMascotaModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- El formulario apunta a la ruta para agregar mascotas -->
        <form action="{{ url_for('agregar_mascota') }}" method="POST" enctype="multipart/form-data">
          <div class="modal-header">            
            <h4 class="modal-title">Agregar Mascota</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Edad</label>
              <input type="text" name="edad" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Sexo</label>
              <input type="text" name="sexo" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Estado de Salud</label>
              <input type="text" name="salud" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Comportamiento</label>
              <input type="text" name="comportamiento" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Características</label>
              <input type="text" name="caracteristicas" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Color</label>
              <input type="text" name="color" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Raza</label>
              <input type="text" name="raza" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Imagen</label>
              <input type="file" name="imagen" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            <input type="submit" class="btn btn-success" value="Agregar">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit Modal HTML -->
  <div id="editMascotaModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- El formulario deberá configurarse para editar la mascota correspondiente -->
        <form action="" method="POST" enctype="multipart/form-data" id="formEditMascota">
          <div class="modal-header">            
            <h4 class="modal-title">Editar Mascota</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <!-- Los campos se llenarán dinámicamente con JavaScript -->
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Edad</label>
              <input type="text" name="edad" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Sexo</label>
              <input type="text" name="sexo" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Estado de Salud</label>
              <input type="text" name="salud" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Comportamiento</label>
              <input type="text" name="comportamiento" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Características</label>
              <input type="text" name="caracteristicas" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Color</label>
              <input type="text" name="color" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Raza</label>
              <input type="text" name="raza" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Imagen</label>
              <input type="file" name="imagen" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            <input type="submit" class="btn btn-info" value="Guardar">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Delete Modal HTML -->
  <div id="deleteMascotaModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- El formulario deberá configurarse para eliminar la mascota correspondiente -->
        <form action="" method="POST" id="formDeleteMascota">
          <div class="modal-header">            
            <h4 class="modal-title">Eliminar Mascota</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">            
            <p>¿Estás seguro de eliminar esta mascota?</p>
            <p class="text-warning"><small>Esta acción no se puede deshacer.</small></p>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            <input type="submit" class="btn btn-danger" value="Eliminar">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
