<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soporte - PetHome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <header><br>
        <h1>Soporte PetHome</h1>
    </header>

    <div class="container">
        <div class="support-card">
            <i class="fas fa-envelope"></i>
            <h2>Contáctanos por Correo</h2>
            <p>¿Tienes dudas, sugerencias o necesitas ayuda? Escríbenos a:</p>
            <a href="">ContactoPetHome@gmail.com</a>
        </div>

        <div class="support-card">
            <i class="fas fa-donate"></i>
            <h2>Centro de Ayuda - Donaciones</h2>
            <p>Ayudanos con tu granito de arena. Toda ayuda cuenta.</p>
            <a href="">Ir al Centro de Donaciones</a>
        </div>

        <div class="support-card">
            <i class="fas fa-book"></i>
            <h2>Guías y Recursos</h2>
            <p>Aprende sobre cuidados, vacunas y bienestar de tus mascotas.</p>
            <a href="cuidados.html">Ver guías</a><!--aQUI va hacia la pagina de cuidados, pero no funca (arreglar)-->
        </div>

        <div class="social-icons">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>

    <footer>
        © 2025 PetHome - Todos los derechos reservados.
    </footer>

</body>
</html>